{% extends 'base.html' %}
{% load static %}
{% block title %}Festival & Travel{% endblock %}
{% block main %}
<div id="page-content-wrapper">
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="container animate-box">
            <div class="row">
                <div class="archive-header">
                    <div class="archive-title"><h2>Festival &amp; Travel</h2></div>
                    <div class="archive-description"><p>Auctor est phasellus eget tempor dictumst</p></div>
                    <div class="bread">
                        <ul class="breadcrumbs" id="breadcrumbs">
                           <li class="item-home"><a title="Home" href="index.html" class="bread-link bread-home">Home</a></li>
                           <li class="separator separator-home"> /</li>
                           <li class="item-current item-cat"><strong class="bread-current bread-cat">House &amp; Living</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="primary margin-15">
            <div class="row">
                <div class="col-md-8">
                    <div class="post_list grid-blance">
                        <div class="row">
                            <article class="col-md-6 animate-box section_margin">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Politics</span>
                                        <a href="single.html"><img src="{% static 'images/news-1.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam quis </a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Steven Job</a></span>
                                    <span class="meta_date">Aug 16,2018</span>
                                </div>
                                <p class="alith_post_except">Aliquet accumsan etiam pharetra quisque turpis et metus nullam suspendisse ultricies, eu tempus phasellus platea lectus maecenas lorem sagittis pretium </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 animate-box section_margin">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Politics</span>
                                        <a href="single.html"><img src="{% static 'images/news-2.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Tempor posuere conubia primis aenean pulvinar nisi</a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Meredith</a></span>
                                    <span class="meta_date">Dec 16,2018</span>
                                </div>
                                <p class="alith_post_except">Est sociosqu gravida euismod erat tortor, amet turpis maecenas metus class enim lectus litora, magna urna morbi quisque non suscipit. </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 sticky animate-box section_margin">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Politics</span>
                                        <a href="single.html"><img src="{% static 'images/news-3.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Laoreet orci faucibus consectetur torquent himenaeos libero</a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Joyce</a></span>
                                    <span class="meta_date">Sep 18,2018</span>
                                </div>
                                <p class="alith_post_except">Morbi blandit et curabitur, litora sociosqu sem nisl posuere varius nostra velit dapibus diam, adipiscing a sem et inceptos </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 animate-box section_margin">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Politics</span>
                                        <a href="single.html"><img src="{% static 'images/news-4.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Nam class sociosqu taciti aenean nisl vivamus tempor</a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Geoffrey</a></span>
                                    <span class="meta_date">Aug 15,2018</span>
                                </div>
                                <p class="alith_post_except">Himenaeos proin tristique vulputate egestas erat in porta pellentesque, ullamcorper porta eget metus accumsan ultricies donec interdum </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 animate-box">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Fashion</span>
                                        <a href="single.html"><img src="{% static 'images/news-5.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Nostra purus ut integer potenti sodales, donec nulla ac </a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Fergal</a></span>
                                    <span class="meta_date">Jun 16,2018</span>
                                </div>
                                <p class="alith_post_except">Egestas ultricies inceptos lorem leo fringilla leo posuere platea condimentum mi vitae elementum sodales, nostra purus ut integer potenti. </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 animate-box">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Travel</span>
                                        <a href="single.html"><img src="{% static 'images/news-6.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Lacinia semper ut tincidunt mollis quam</a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Emery</a></span>
                                    <span class="meta_date">Sep 17,2018</span>
                                </div>
                                <p class="alith_post_except">Volutpat habitant aptent porttitor, nam sit est suscipit quisque nisi curabitur, fermentum . </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 animate-box sticky">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Technology</span>
                                        <a href="single.html"><img src="{% static 'images/news-1.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam quis </a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Steven Job</a></span>
                                    <span class="meta_date">Aug 16,2018</span>
                                </div>
                                <p class="alith_post_except">Aliquet accumsan etiam pharetra quisque turpis et metus nullam suspendisse ultricies, eu tempus phasellus platea lectus maecenas lorem sagittis pretium </p>
                                <div class="line-space"></div>
                            </article>
                            <article class="col-md-6 animate-box">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <span class="post_meta_categories_label">Job</span>
                                        <a href="single.html"><img src="{% static 'images/news-2.jpg' %}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="single.html">Tempor posuere conubia primis aenean pulvinar nisi</a></h3>
                                <div class="post_meta">
                                    <a href="page-author.html" class="meta_author_avatar"><img src="{% static 'images/author-avatar.png' %}" alt="author details"/></a>
                                    <span class="meta_author_name"><a href="page-author.html" class="author">Meredith</a></span>
                                    <span class="meta_date">Dec 16,2018</span>
                                </div>
                                <p class="alith_post_except">Est sociosqu gravida euismod erat tortor, amet turpis maecenas metus class enim lectus litora, magna urna morbi quisque non suscipit. </p>
                                <div class="line-space"></div>
                            </article>
                        </div>
                    </div>
                    <div class="site-pagination animate-box">
                        <ul class="page-numbers">
                            <li><a href="category-grid.html#" class="prev page-numbers">PREV</a></li>
                            <li><span class="page-numbers current" aria-current="page">1.</span></li>
                            <li><a href="category-grid.html#" class="page-numbers">2.</a></li>
                            <li><a href="category-grid.html#" class="page-numbers">3.</a></li>
                            <li><a href="category-grid.html#" class="page-numbers">4.</a></li>
                            <li><a href="category-grid.html#" class="next page-numbers">NEXT</a></li>
                        </ul>
                    </div>
                </div>
                <!--Start Sidebar-->
                <aside class="col-md-4 sidebar_right">
                    <div class="sidebar-widget animate-box">
                        <div class="widget-title-cover"><h4 class="widget-title"><span>Popular Articles</span></h4></div>
                        <div class="latest_style_1">
                            <div class="latest_style_1_item">
                              <span class="item-count vertical-align">1.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Ut enim ad minima veniam, quis nostrum</strong></a><p class="meta"><span>2 Sep, 2018</span> <span>268 views</span></p>
                                </div>
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-1.png' %}" alt=""/></a></figure>
                            </div>
                            <div class="latest_style_1_item">
                              <span class="item-count vertical-align">2.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Curae lacinia consec tetur varius</strong></a><p class="meta"><span>2 Sep, 2018</span> <span>28 views</span></p>
                                </div>
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-2.png' %}" alt=""/></a></figure>
                            </div>
                            <div class="latest_style_1_item">
                              <span class="item-count vertical-align">3.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Euismod lacus vulpu tate augue</strong></a><p class="meta"><span>2 Aug, 2018</span> <span>18 views</span></p>
                                </div>
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-3.png' %}" alt=""/></a></figure>
                            </div>
                            <div class="latest_style_1_item">
                              <span class="item-count vertical-align">4.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Quam mauris lorem erat est euismod</strong></a><p class="meta"><span>21 Aug, 2018</span> <span>18 views</span></p>
                                </div>
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-4.png' %}" alt=""/></a></figure>
                            </div>
                            <div class="latest_style_1_item">
                              <span class="item-count vertical-align">5.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Nec eget ince ptos aenean gravida</strong></a><p class="meta"><span>21 Jun, 2018</span> <span>18 views</span></p>
                                </div>
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-5.png' %}" alt=""/></a></figure>
                            </div>
                        </div>
                    </div> <!--.sidebar-widget-->

                    <div class="sidebar-widget animate-box">
                        <div class="widget-title-cover"><h4 class="widget-title"><span>Search</span></h4></div>
                        <form action="category-grid.html#" class="search-form" method="get" role="search">
                            <label>
                                <input type="search" name="s" value="" placeholder="Search …" class="search-field">
                            </label>
                                <input type="submit" value="Search" class="search-submit">
                        </form>
                    </div> <!--.sidebar-widget-->

                    <div class="sidebar-widget animate-box">
                        <div class="widget-title-cover"><h4 class="widget-title"><span>Trending</span></h4></div>
                        <div class="latest_style_2">
                            <div class="latest_style_2_item_first">
                                <figure class="alith_post_thumb_big">
                                    <span class="post_meta_categories_label">Legal, Blog</span>
                                    <a href="single.html"><img src="{% static 'images/thumb-large.jpg' %}" alt=""/></a>
                                </figure>
                                <h3 class="alith_post_title">
                                    <a href="single.html"><strong>Nor again is there anyone who loves or pursues or desires to obtain</strong></a>
                                </h3>
                            </div>
                            <div class="latest_style_2_item">
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-1.png' %}" alt=""/></a></figure>
                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                                <div class="post_meta">
                                    <span class="meta_date">18 Sep, 2018</span>
                                </div>
                            </div>
                            <div class="latest_style_2_item">
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-2.png' %}" alt=""/></a></figure>
                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                                <div class="post_meta">
                                    <span class="meta_date">18 Sep, 2018</span>
                                </div>
                            </div>
                            <div class="latest_style_2_item">
                                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-3.png' %}" alt=""/></a></figure>
                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                                <div class="post_meta">
                                    <span class="meta_date">18 Sep, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div> <!--.sidebar-widget-->

                    <div class="sidebar-widget animate-box">
                        <div class="widget-title-cover"><h4 class="widget-title"><span>Tags cloud</span></h4></div>
                        <div class="alith_tags_all">
                            <a href="category-grid.html#" class="alith_tagg">Business</a>
                            <a href="category-grid.html#" class="alith_tagg">Technology</a>
                            <a href="category-grid.html#" class="alith_tagg">Sport</a>
                            <a href="category-grid.html#" class="alith_tagg">Art</a>
                            <a href="category-grid.html#" class="alith_tagg">Lifestyle</a>
                            <a href="category-grid.html#" class="alith_tagg">Three</a>
                            <a href="category-grid.html#" class="alith_tagg">Photography</a>
                            <a href="category-grid.html#" class="alith_tagg">Lifestyle</a>
                            <a href="category-grid.html#" class="alith_tagg">Art</a>
                            <a href="category-grid.html#" class="alith_tagg">Education</a>
                            <a href="category-grid.html#" class="alith_tagg">Social</a>
                            <a href="category-grid.html#" class="alith_tagg">Three</a>
                        </div>
                    </div> <!--.sidebar-widget-->

                </aside>
                <!--End Sidebar-->
            </div>
            </div> <!--.primary-->

        </div>
    </div>
    <div class="container-fluid">
        <div class="container animate-box">
            <div class="bottom margin-15">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                        <div class="widget-title-cover"><h4 class="widget-title"><span>Most comments</span></h4></div>
                        <div class="latest_style_3">
                            <div class="latest_style_3_item">
                              <span class="item-count vertical-align">1.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Frtuitous spluttered unlike ouch vivid blinked far inside</strong></a>
                                </div>
                            </div>
                            <div class="latest_style_3_item">
                              <span class="item-count vertical-align">2.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Against and lantern where a and gnashed nefarious</strong></a>
                                </div>
                            </div>
                            <div class="latest_style_3_item">
                              <span class="item-count vertical-align">3.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>Ouch oh alas crud unnecessary invaluable some</strong></a>
                                </div>
                            </div>
                            <div class="latest_style_3_item">
                              <span class="item-count vertical-align">4.</span>
                                <div class="alith_post_title_small">
                                    <a href="single.html"><strong>And far hey much hello and bashful one save less</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover"><h4 class="widget-title"><span>Latest</span></h4></div>
                            <div class="latest_style_2">
                                <div class="latest_style_2_item">
                                    <figure class="alith_news_img"><a href="single.html"><img alt="" src="{% static 'images/thumb-square-1.png' %}" class="hover_grey"></a></figure>
                                    <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                                </div>
                                <div class="latest_style_2_item">
                                    <figure class="alith_news_img"><a href="single.html"><img alt="" src="{% static 'images/thumb-square-2.png' %}" class="hover_grey"></a></figure>
                                    <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                                </div>
                                <div class="latest_style_2_item">
                                    <figure class="alith_news_img"><a href="single.html"><img alt="" src="{% static 'images/thumb-square-3.png' %}" class="hover_grey"></a></figure>
                                    <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover"><h4 class="widget-title"><span>Categories</span></h4></div>
                            <ul class="bottom_menu">
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Business</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Entertainment</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Environment</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Health</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Life style</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Politics</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Technology</a></li>
                                <li><a href="category-grid.html#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; World</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover"><h4 class="widget-title"><span>Instagram</span></h4></div>
                            <ul class="alith-instagram-grid-widget alith-clr alith-row alith-gap-10">
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-1.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-2.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-3.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-4.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-5.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-1.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-2.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-3.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="category-grid.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-4.png' %}">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!--.row-->
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div> <!--page-content-wrapper--
{% endblock main %}