{% extends 'base.html' %}
{% load oldety %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block main %}
<div id="page-content-wrapper">
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="container animate-box">
            <div class="row">
                <div class="archive-header">
                    <div class="archive-title"><h2>{{ category.name }}</h2></div>
                    <div class="bread">
                        <ul class="breadcrumbs" id="breadcrumbs">
                           <li class="item-home"><a  class="bread-link bread-home">-КАТЕГОРІЯ-</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="primary margin-15">
            <div class="row">
                <div class="col-md-8">
                    <div class="post_list grid-blance">
                        <div class="row">
                            {% for article in articles_some_category %}
                            <article class="col-md-6 animate-box section_margin">
                                <div class="wrap">
                                    <figure class="alith_news_img">
                                        <a href="{% url 'single' article.slug %}"><img src="{{ article.images.first.image.url }}" alt=""/></a>
                                    </figure>
                                </div>
                                <h3 class="alith_post_title"><a href="{% url 'single' article.slug %}">{{ article.title }}</a></h3>
                                <div class="post_meta">
                                    <span class="meta_date">{% oldety_func article.date_news %}</span>
                                    <span class="meta_date">{{ article.date_news|date:'Y-m-d H:i' }}</span>
                                </div>
                                <p class="alith_post_except">{{ article.description }}</p>
                                <div class="line-space"></div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="site-pagination animate-box">
                        <ul class="page-numbers">
                            <li><a href="category-grid.html#" class="prev page-numbers">PREV</a></li>
                            <li><span class="page-numbers current" aria-current="page">1.</span></li>
                            <li><a href="category-grid.html#" class="page-numbers">2.</a></li>
                            <li><a href="category-grid.html#" class="page-numbers">3.</a></li>
                            <li><a href="category-grid.html#" class="page-numbers">4.</a></li>
                            <li><a href="category-grid.html#" class="next page-numbers">NEXT</a></li>
                        </ul>
                    </div>
                </div>
                <!--Start Sidebar-->
                {% include 'sidebar.html' %}
                <!--End Sidebar-->
            </div>
            </div> <!--.primary-->

        </div>
    </div>
    {% include 'footer.html' %}
</div> <!--page-content-wrapper--
{% endblock main %}