{% load static %}
{% load i18n %}
{% load translater %}
<div class="container-fluid">
    <div class="container animate-box">
        <div class="bottom margin-15">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                        <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Most comments' %}</span></h4></div>
                        <div class="latest_style_2">
                            {% for article in most_comments|slice:':3' %}
                            <div class="latest_style_2_item">

                                <div class="alith_post_title">
                                    <h6 href="{% url 'single' article.slug %}"><strong>{{ article|transleter_title:request.LANGUAGE_CODE }}</strong></h6>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Latest' %}</span></h4></div>
                            <div class="latest_style_2">
                                {% for article in latest_article %}
                                <div class="latest_style_2_item">
                                    <figure class="alith_news_img"><a href="{% url 'single' article.slug %}"><img alt="" src="{{ article.images.first.image.url }}" class="hover_grey"></a></figure>
                                    <h3 class="alith_post_title"><a href="{% url 'single' article.slug %}">{{ article|transleter_title:request.LANGUAGE_CODE }}</a></h3>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Categories' %}</span></h4></div>
                            <ul class="bottom_menu">
                                {% for category in categories %}
                                <li><a href="{% url 'all_articles' %}?category={{ category.name }}" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;{{ category|transleter_names:request.LANGUAGE_CODE }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="sidebar-widget">
                            <div class="widget-title-cover"><h4 class="widget-title"><span>Instagram</span></h4></div>
                            <ul class="alith-instagram-grid-widget alith-clr alith-row alith-gap-10">
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-1.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-2.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-3.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-4.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-5.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-1.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-2.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-3.png' %}">
                                    </a>
                                </li>
                                <li class="wow fadeInUp alith-col-nr alith-clr alith-col-3 animated">
                                    <a class="" target="_blank" href="index.html#">
                                        <img class="" title="" alt="" src="{% static 'images/thumb-square-4.png' %}">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!--.row-->
            </div>
    </div>
    </div>
<div class="container-fluid alith_footer_right_reserved">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 bottom-logo">
                <h1 class="logo"><a href="index.html">{% trans 'Ukrainian News' %}</a></h1>
                <div class="tagline social">
                    <ul>
                        <li class="facebook"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                        <li class="google-plus"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                        <li class="instagram"><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-12 coppyright"> <p>© Copyright 2022, {% trans 'All rights reserved. Design by' %} <a href="https://alithemes.com" title="AliTheme">Alithemes.com</a></p> </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="index.html#" class="js-gotop"><span>{% trans 'Take Me Top' %}</span></a>
</div>