<div class="container-fluid">
    <div class="container">
        <div class="top_bar margin-15">
            <div class="row">
                <div class="col-md-6 col-sm-12 time">
                    <div class="off-canvas-toggle" id="off-canvas-toggle"><span></span><p class="sidebar-open">MORE</p></div>
                    <i class="fa fa-clock-o"></i><span>&nbsp;&nbsp;&nbsp;{{ datetime_now|date:'Y-m-d'  }}</span>
                </div>
                <div class="col-md-6 col-sm-12 social">
                    <ul>
                        <li><a href="index.html"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="index.html"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="index.html"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <div class="top-search">
                        <i class="fa fa-search"></i><span>SEARCH</span>
                    </div>
                    <div class="top-search-form">
                        <form action="index.html#" class="search-form" method="get" role="search">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" name="s" value="" placeholder="Search …" class="search-field">
                            </label>
                            <input type="submit" value="Search" class="search-submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 header">
                <h1 class="logo"><a href="{% url 'index' %}">HELLO WORLD</a></h1>
                <p class="tagline">NEWSPAPER / MAGAZINE / PUBLISHER</p>
            </div>
        </div>
    </div>
</div>
<div class="main-nav section_margin">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 main_nav_cover" id="nav">
                    <ul id="main-menu">
                        <li class="menu-item-has-children"><a href="{% url 'index' %}">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Default</a></li>
                                <li><a href="home-grid.html">Grid</a></li>
                                <li><a href="home-slide.html">Big slide</a></li>
                                <li><a href="home-carausel.html">Carausel</a></li>
                                <li><a href="home-boxed.html">Boxed layout</a></li>
                                <li><a href="home-rtl.html">RTL layout</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a>Categories</a>
                            <ul class="sub-menu">
                                {% for category in categories %}
                                    <li><a href="{% url 'all_articles' %}?category={{ category.name }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'all_articles' %}">All News</a></li>
                        <li class="menu-item-has-children"><a href="javascript:void(0)">Tags</a>
                            <ul class="sub-menu">
                                {% for tag in tags %}
                                <li><a href="{% url 'all_articles' %}?tag={{ tag.name }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0)">Authors</a>
                            <ul class="sub-menu">
                                {% for author in mostly_authors %}
                                <li><a href="{% url 'all_articles' %}?author={{ author.name }}">{{ author.name }}</a></li>
                                {% endfor %}
                            </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>