{% load static %}
<aside class="col-md-4 sidebar_right">
    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Popular Articles</span></h4></div>
        <div class="latest_style_1">
            <div class="latest_style_1_item">
              <span class="item-count vertical-align">1.</span>
                <div class="alith_post_title_small">
                    <a href="single.html"><strong>Ut enim ad minima veniam, quis nostrum</strong></a>
                    <p class="meta"><span>2 Sep, 2018</span> <span>268 views</span></p>
                </div>
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-1.png' %}" alt=""/></a></figure>
            </div>
            <div class="latest_style_1_item">
              <span class="item-count vertical-align">2.</span>
                <div class="alith_post_title_small">
                    <a href="single.html"><strong>Curae lacinia consec tetur varius</strong></a>
                    <p class="meta"><span>2 Sep, 2018</span> <span>268 views</span></p>
                </div>
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-2.png' %}" alt=""/></a></figure>
            </div>
            <div class="latest_style_1_item">
              <span class="item-count vertical-align">3.</span>
                <div class="alith_post_title_small">
                    <a href="single.html"><strong>Euismod lacus vulpu tate augue</strong></a>
                    <p class="meta"><span>2 Sep, 2018</span> <span>268 views</span></p>
                </div>
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-3.png' %}" alt=""/></a></figure>
            </div>
            <div class="latest_style_1_item">
              <span class="item-count vertical-align">4.</span>
                <div class="alith_post_title_small">
                    <a href="single.html"><strong>Quam mauris lorem erat est euismod</strong></a>
                    <p class="meta"><span>2 Sep, 2018</span> <span>268 views</span></p>
                </div>
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-4.png' %}" alt=""/></a></figure>
            </div>
            <div class="latest_style_1_item">
              <span class="item-count vertical-align">5.</span>
                <div class="alith_post_title_small">
                    <a href="single.html"><strong>Nec eget ince ptos aenean gravida</strong></a>
                    <p class="meta"><span>2 Sep, 2018</span> <span>268 views</span></p>
                </div>
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-5.png' %}" alt=""/></a></figure>
            </div>
        </div>
    </div> <!--.sidebar-widget-->

    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Search</span></h4></div>
        <form action="index.html#" class="search-form" method="get" role="search">
            <label>
                <input type="search" name="s" value="" placeholder="Search …" class="search-field">
            </label>
                <input type="submit" value="Search" class="search-submit">
        </form>
    </div> <!--.sidebar-widget-->

    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Trending</span></h4></div>
        <div class="latest_style_2">
            <div class="latest_style_2_item_first">
                <figure class="alith_post_thumb_big">
                    <span class="post_meta_categories_label">Legal, Blog</span>
                    <a href="single.html"><img src="{% static 'images/thumb-large.jpg' %}" alt=""/></a>
                </figure>
                <h3 class="alith_post_title">
                    <a href="single.html"><strong>Nor again is there anyone who loves or pursues or desires to obtain</strong></a>
                </h3>
            </div>
            <div class="latest_style_2_item">
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-1.png' %}" alt=""/></a></figure>
                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                <div class="post_meta">
                    <span class="meta_date">18 Sep, 2018</span>
                </div>
            </div>
            <div class="latest_style_2_item">
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-2.png' %}" alt=""/></a></figure>
                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                <div class="post_meta">
                    <span class="meta_date">18 Sep, 2018</span>
                </div>
            </div>
            <div class="latest_style_2_item">
                <figure class="alith_news_img"><a href="single.html"><img src="{% static 'images/thumb-square-3.png' %}" alt=""/></a></figure>
                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>
                <div class="post_meta">
                    <span class="meta_date">18 Sep, 2018</span>
                </div>
            </div>
        </div>
    </div> <!--.sidebar-widget-->

    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>Теги</span></h4></div>
        <div class="alith_tags_all">
            {% for tag in tags %}
            <a href="{% url 'tags' tag.slug %}" class="alith_tagg">{{ tag }}</a>
            {% endfor %}
        </div>
    </div> <!--.sidebar-widget-->

</aside>