{% load static %}
{% load i18n %}
{% load translater %}
<aside class="col-md-4 sidebar_right">
    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Popular Articles' %}</span></h4></div>
        <div class="latest_style_1">
            {% for article in popular_articles|slice:':7' %}
            <div class="latest_style_1_item">
                <div class="post_meta">

                    <figure class="alith_news_img"><a href="{% url 'single' article.slug %}"><img src="{{ article.images.first.image.url }}" alt=""/></a></figure>
                    <h6 href="{% url 'single' article.slug %}"><strong>{{ article|transleter_title:request.LANGUAGE_CODE }}</strong></h6>
                    <p class="meta_date"><span>{{ article.date_news|date:'Y-m-d H:i' }}</span> <span>views {{ article.views }}</span></p>
                </div>

            </div>
        {% endfor %}
        </div>
    </div> <!--.sidebar-widget-->

    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Search' %}</span></h4></div>
        <form action="index.html#" class="search-form" method="get" role="search">
            <label>
                <input type="search" name="s" value="" placeholder="Search …" class="search-field">
            </label>
                <input type="submit" value="Search" class="search-submit">
        </form>
    </div> <!--.sidebar-widget-->

    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Trending' %}</span></h4></div>
        <div class="latest_style_2">
            <div class="latest_style_2_item_first">
                <figure class="alith_post_thumb_big">

                    <a href="{% url 'single' popular_articles.first.slug %}"><img src="{{ popular_articles.first.images.first.image.url }}" alt=""/></a>
                </figure>
                <h3 class="alith_post_title">
                    <a href="{% url 'single' popular_articles.first.slug %}"><strong>{{ popular_articles.first|transleter_title:request.LANGUAGE_CODE }}</strong></a>
                </h3>
            </div>

        </div>
    </div> <!--.sidebar-widget-->

    <div class="sidebar-widget animate-box">
        <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Tags' %}</span></h4></div>
        <div class="alith_tags_all">
            {% for tag in tags %}
            <a href="{% url 'all_articles' %}?tag={{ tag.name }}" class="alith_tagg">{{ tag|transleter_names:request.LANGUAGE_CODE }}</a>
            {% endfor %}
        </div>
    </div> <!--.sidebar-widget-->

</aside>