{% extends 'base.html' %}
{% load static %}
{% load oldety %}
{% load widget_tweaks %}
{% block title %}Simple life in big city{% endblock %}
{% block main %}

<div id="page-content-wrapper">
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="container animate-box">
            <div class="row">
                <div class="post-header">
                    <div class="bread">
                        <ul class="breadcrumbs" id="breadcrumbs">
                           <li class="item-home">You are here: <a title="Home" href="index.html" class="bread-link bread-home">Home</a></li>
                           <li class="separator separator-home"> /</li>
                           <li class="item-current item-cat"><a title="Home" href="index.html" class="bread-link bread-home">Lifestyle</a></li>
                            <li class="separator separator-home"> /</li>
                            <li class="item-current item-cat"><strong class="bread-current bread-cat">Simple life in big city</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="primary margin-15">
            <div class="row">
                <div class="col-md-8">
                    <article class="section_margin">
                        <figure class="alith_news_img animate-box"><a><img src="{{ article.images.first.image.url }}" alt=""/></a></figure>
                        <div class="post-content">
                            <div class="single-header">
                                <h3 class="alith_post_title">{{ article.title }}</h3>
                                <div class="post_meta">
                                    <span class="meta_author_name"><a class="author">Unknown author</a></span>
                                    <span class="meta_categories"><a href="http://demos.alithemes.com/html/hewo/archive.html">{{ article.category }}</a></span>
                                    <span class="meta_date">{{ article.date_news }}</span>
                                </div>
                            </div>
                            <div class="single-content animate-box">
                                <p class="alith_post_except animate-box">{{ article.description}}</p>
                                <div class="dropcap column-2 animate-box">
                                   <p>{{ article.text|safe}}</p>
                                </div>
                                <div class="post-tags">
                                    <div class="post-tags-inner">
                                        {% for tag in article.tags.all %}
                                        <a rel="tag" href="category-grid.html">{{ tag.name|my_upper }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="post-author section_margin_40">
                                    <figure><a href="page-author.html"><img src="{% static 'images/post-author-avatar.jpg' %}"></a></figure>
                                    <div class="post-author-info">
                                        <h3><a href="page-author.html">Steven Jobs</a></h3>
                                        <p>Ouch oh alas crud unnecessary invaluable some goodness opposite hello since audacious far barring and absurdly much boa</p>
                                        <ul>
                                            <li><a href="single.html"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="single.html"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="single.html"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-related section_margin_40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="sidebar-widget">
                                                <div class="widget-title-cover"><h4 class="widget-title"><span>Related Posts</span></h4></div>
                                                <div class="latest_style_3">
                                                    <div class="latest_style_3_item">
                                                      <span class="item-count vertical-align">1.</span>
                                                        <div class="alith_post_title_small">
                                                            <a href="single.html"><strong>Frtuitous spluttered unlike ouch vivid blinked far inside</strong></a>
                                                        </div>
                                                    </div>
                                                    <div class="latest_style_3_item">
                                                      <span class="item-count vertical-align">2.</span>
                                                        <div class="alith_post_title_small">
                                                            <a href="single.html"><strong>Against and lantern where a and gnashed nefarious</strong></a>
                                                        </div>
                                                    </div>
                                                    <div class="latest_style_3_item">
                                                      <span class="item-count vertical-align">3.</span>
                                                        <div class="alith_post_title_small">
                                                            <a href="single.html"><strong>Ouch oh alas crud unnecessary invaluable some</strong></a>
                                                        </div>
                                                    </div>
                                                    <div class="latest_style_3_item">
                                                      <span class="item-count vertical-align">4.</span>
                                                        <div class="alith_post_title_small">
                                                            <a href="single.html"><strong>And far hey much hello and bashful one save less</strong></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!--post-related-->
                                        <div class="col-md-6">
                                            <div class="post-navigation">
                                                <div class="latest_style_2">
                                                    <h5><span>Related Posts</span></h5>
                                                    {% for article in random_articles_4 %}
                                                <div class="latest_style_2_item">
                                                    <figure class="alith_news_img"><a href="{% url 'single' article.slug %}"><img class="hover_grey" src="{{ article.images.first.image.url }}" alt=""></a></figure>
                                                    <h3 class="alith_post_title"><a href="single.html">{{ article.title }}</a></h3>
                                                </div>
                                                    {% endfor %}
{#                                                <h5><span>Next Post</span></h5>#}
{#                                                <div class="latest_style_2_item">#}
{#                                                    <figure class="alith_news_img"><a href="single.html"><img class="hover_grey" src="{% static 'images/thumb-square-1.png' %}" alt=""></a></figure>#}
{#                                                    <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>#}
{#                                                </div>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--post-related and navigation-->
                            </div> <!--single content-->
                            <div class="single-comment">
                                <section id="comments">
                                   <h4 class="single-comment-title">Comments</h4>
                                   <div class="comments-inner clr">
                                      <div class="comments-title"> <p>There are 3 comments for this article</p></div>
                                        <ol class="commentlist">
                                           <li id="li-comment-4">
                                              <article class="comment even thread-even depth-1 clr" id="comment-4">
                                                 <div class="comment-author vcard"> <img width="60" height="60" src="{% static 'images/post-author-avatar.jpg' %}" alt=""></div>
                                                 <div class="comment-details clr ">
                                                    <header class="comment-meta"> <strong class="fn"> Steven Jobs </strong> <span class="comment-date">July 4, 2017 7:25 am </span></header>
                                                    <div class="comment-content entry clr">
                                                       <p>dived wound factual legitimately delightful goodness fit rat some lopsidedly far when.</p>
                                                    </div>
                                                    <div class="reply comment-reply-link-div"> <a aria-label="Reply to spadmin" href="single.html#respond" class="comment-reply-link" rel="nofollow">Reply</a></div>
                                                 </div>
                                              </article>
                                              <ul class="children">
                                                 <li id="li-comment-6">
                                                    <article class="comment odd alt depth-2 clr" id="comment-6">
                                                       <div class="comment-author vcard"><img width="60" height="60" src="{% static 'images/post-author-avatar.jpg' %}" alt=""></div>
                                                       <div class="comment-details clr ">
                                                          <header class="comment-meta"> <strong class="fn"> Jim Calist </strong> <span class="comment-date">July 16, 2017 1:29 am </span></header>
                                                          <div class="comment-content entry clr">
                                                             <p>Slung alongside jeepers hypnotic legitimately some iguana this agreeably triumphant pointedly far</p>
                                                          </div>
                                                          <div class="reply comment-reply-link-div"><a aria-label="Reply to spadmin" href="single.html#respond" class="comment-reply-link" rel="nofollow">Reply</a></div>
                                                       </div>
                                                    </article>
                                                 </li>
                                              </ul>
                                           </li>
                                           <li id="li-comment-5">
                                              <article class="comment even thread-odd thread-alt depth-1 clr" id="comment-5">
                                                 <div class="comment-author vcard"> <img width="60" height="60" src="{% static 'images/post-author-avatar.jpg' %}" alt=""></div>
                                                 <div class="comment-details clr ">
                                                    <header class="comment-meta"> <strong class="fn"> Steven Jobs </strong> <span class="comment-date">July 4, 2017 7:25 am </span></header>
                                                    <div class="comment-content entry clr">
                                                       <p>jeepers unscrupulous anteater attentive noiseless put less greyhound prior stiff ferret unbearably cracked oh.</p>
                                                    </div>
                                                    <div class="reply comment-reply-link-div"><a aria-label="Reply to spadmin" href="single.html#respond" class="comment-reply-link" rel="nofollow">Reply</a></div>
                                                 </div>
                                              </article>
                                           </li>
                                           <li id="li-comment-85">
                                              <article class="comment byuser comment-author-spadmin bypostauthor odd alt thread-even depth-1 clr" id="comment-85">
                                                 <div class="comment-author vcard"><img width="60" height="60" src="{% static 'images/post-author-avatar.jpg' %}" alt=""></div>
                                                 <div class="comment-details clr ">
                                                    <header class="comment-meta"> <strong class="fn"> Steven Jobs <span class="author-badge"></span> </strong> <span class="comment-date">May 10, 2018 2:41 am </span></header>
                                                    <div class="comment-content entry clr">
                                                       <p>So sparing more goose caribou wailed went conveniently burned the the the and that save that adroit gosh and sparing armadillo grew some overtook that magnificently that</p>
                                                    </div>
                                                    <div class="reply comment-reply-link-div"><a aria-label="Reply to spadmin" href="single.html#respond" class="comment-reply-link" rel="nofollow">Reply</a></div>
                                                 </div>
                                              </article>
                                           </li>
                                           <li id="li-comment-86">
                                              <article class="comment byuser comment-author-spadmin bypostauthor even thread-odd thread-alt depth-1 clr" id="comment-86">
                                                 <div class="comment-author vcard"><img width="60" height="60" src="{% static 'images/post-author-avatar.jpg' %}" alt=""></div>
                                                 <div class="comment-details clr ">
                                                    <header class="comment-meta"> <strong class="fn"> Steven Jobs <span class="author-badge"></span> </strong> <span class="comment-date">May 10, 2018 2:42 am </span></header>
                                                    <div class="comment-content entry clr">
                                                       <p>Circuitous gull and messily squirrel on that banally assenting nobly some much rakishly goodness that the darn abject hello left because unaccountably spluttered unlike a aurally since contritely thanks</p>
                                                    </div>
                                                    <div class="reply comment-reply-link-div"><a aria-label="Reply to spadmin" href="single.html#respond" class="comment-reply-link" rel="nofollow">Reply</a></div>
                                                 </div>
                                              </article>
                                           </li>
                                        </ol> <!--comment list-->
                                        <nav role="navigation" class="comment-navigation clr">
                                           <div class="nav-previous span_1_of_2 col col-1"></div>
                                           <div class="nav-next span_1_of_2 col"> <a href="single.html#comments">Newer Comments →</a></div>
                                        </nav> <!--comment nav-->
                                        <div class="comment-respond" id="respond">
                                           <h3 class="comment-reply-title" id="reply-title">Leave a Reply <small><a href="single.html#respond" id="cancel-comment-reply-link" rel="nofollow"><i class="fa fa-times"></i></a></small></h3>
                                           <form novalidate="" class="comment-form" id="commentform" method="post" >
                                               {% csrf_token %}
                                              <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span></p>
                                              <div class="row">

                                                 <div class="comment-form-author col-sm-12 col-md-6"> <label for="author">Name (optional)</label>
                                                     {% render_field form.name type="text" class="form-control" placeholder="Your Name" minlength="2" maxlength="50" id="contact-name" %}
{#                                                     <input type="text" size="30" value="" placeholder="Your name *" name="author" id="author" maxlength="50">#}
                                                 </div>
                                                 <div class="comment-form-email col-sm-12 col-md-6"> <label for="email">Email (optional)</label>
                                                     {% render_field form.email type="email" class="form-control" placeholder="Your E-mail" id="contact-email" %}
{#                                                     <input type="email" size="30" value="" placeholder="Email *" name="email" id="email" maxlength="50">#}
                                                 </div>
                                              </div>
                                              <p class="comment-form-comment"><label for="comment">Comment</label>
{#                                                  <textarea aria-required="true" placeholder="Your Comment" rows="8" cols="45" name="comment" id="comment"></textarea>#}
                                                    {% render_field form.comment class="form-control" placeholder="Your Message" maxlength="1000" id="comment" %}</p>
                                              <p class="form-submit">
                                                  <input type="submit" value="Post Comment" class="submit" id="submit" name="submit">
                                                  <input type="hidden" id="comment_post_ID" value="80" name="comment_post_ID">
                                                  <input type="hidden" value="0" id="comment_parent" name="comment_parent" maxlength="1000">
                                              </p>
                                           </form>
                                        </div> <!--comment form-->

                                   </div>
                                </section>
                            </div>
                        </div>
                    </article>
                    <div class="single-more-articles single-disable-inview">
                        <h4><span>You might be interested in</span></h4>
                        <span class="single-more-articles-close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <div class="latest_style_2">
                            {% for article in random_articles_2 %}
                            <div class="latest_style_2_item">
                                <figure class="alith_news_img"><a href="{% url 'single' article.slug %}"><img class="hover_grey" src="{{ article.images.first.image.url }}" alt=""></a></figure>
                                <h3 class="alith_post_title"><a href="{% url 'single' article.slug %}">{{ article.title }}</a></h3>
                            </div>
                                {% endfor %}
{#                            <div class="latest_style_2_item">#}
{#                                <figure class="alith_news_img"><a href="single.html"><img class="hover_grey" src="{% static 'images/thumb-square-2.png' %}" alt=""></a></figure>#}
{#                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>#}
{#                            </div>#}
                        </div>
                    </div> <!--end single more articles-->
                </div>
                <!--Start Sidebar-->
                {% include 'sidebar.html' %}
                <!--End Sidebar-->
            </div>
            </div> <!--.primary-->

        </div>
    </div>
    {% include 'footer.html' %}
</div> <!--page-content-wrapper-->
{% endblock main %}