{% extends 'base.html' %}
{% load static %}
{% load translater %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ article|transleter_title:request.LANGUAGE_CODE }}{% endblock %}
{% block main %}

<div id="page-content-wrapper">
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="container animate-box">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="primary margin-15">
            <div class="row">
                <div class="col-md-8">
                    <article class="section_margin">
                        <figure class="alith_news_img animate-box"><a><img src="{{ article.images.first.image.url }}" alt=""/></a></figure>
                        <div class="post-content">
                            <div class="single-header">
                                <h3 class="alith_post_title">{{ article|transleter_title:request.LANGUAGE_CODE }}</h3>
                                <div class="post_meta">
                                    <span class="meta_author_name"><a class="author">{{ article.author|transleter_names:request.LANGUAGE_CODE }}</a></span>
                                    <span class="meta_categories"><a href="http://demos.alithemes.com/html/hewo/archive.html">{{ article.category|transleter_names:request.LANGUAGE_CODE }}</a></span>
                                    <span class="meta_date">{{ article.date_news|date:'Y-m-d H:i' }}</span>
                                </div>
                            </div>
                            <div class="single-content animate-box">
                                <p class="alith_post_except animate-box">{{ article|transleter_description:request.LANGUAGE_CODE}}</p>
                                <div class="dropcap column-2 animate-box">
                                   <p>{{ article|transleter_text:request.LANGUAGE_CODE|safe}}</p>
                                </div>
                                <div class="post-tags">
                                    <div class="post-tags-inner">
                                        {% for tag in article.tags.all %}
                                        <a rel="tag" href="category-grid.html">{{ tag|transleter_names:request.LANGUAGE_CODE|upper }}</a>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="post-related section_margin_40">
                                    <div class="row">


                                                <div class="widget-title-cover"><h4 class="widget-title"><span>{% trans 'Related Posts' %}</span></h4></div>
                                                <div class="latest_style_3">
                                                    {% for article in random_articles_4 %}
                                                    <div class="latest_style_2_item">
                                                    <figure class="alith_news_img"><a href="{% url 'single' article.slug %}"><img class="hover_grey" src="{{ article.images.first.image.url }}" alt=""></a></figure>
                                                    <h3 class="alith_post_title"><a href="single.html">{{ article|transleter_title:request.LANGUAGE_CODE }}</a></h3>
                                                    </div>
                                                    {% endfor %}
                                                </div>


                                        <div class="col-md-6">
                                            <div class="post-navigation">

                                            </div>
                                        </div>
                                    </div>
                                </div> <!--post-related and navigation-->
                            </div> <!--single content-->
                            <div class="single-comment">
                                <section id="comments">
                                   <h4 class="single-comment-title">{% trans 'Comments' %}</h4>
                                   <div class="comments-inner clr">
                                      <div class="comments-title"> <p>{% trans 'There are' %} {{ article.comments.all.count }} {% trans 'comments for this article' %}</p></div>
                                        <ol class="commentlist">
                                           {% for comment in article.comments.all %}
                                           <li id="li-comment-5">
                                              <article class="comment even thread-odd thread-alt depth-1 clr" id="comment-5">
                                                 <div class="comment-details clr ">
                                                    <header class="comment-meta"> <strong class="fn"> {{ comment.name }} </strong> <span class="comment-date">{{ comment.date_time|date:'Y-m-d H:i' }}</span></header>
                                                    <div class="comment-content entry clr">
                                                       <p>{{ comment.comment }}</p>
                                                    </div>

                                                 </div>
                                              </article>
                                           </li>
                                           {% endfor %}
                                        </ol> <!--comment list-->

                                            {% if messages %}
                                            {% for message in messages %}
                                            {% if message.tags == 'success' %}
                                            <div class="alert alert-primary" role="alert">
                                                <p class="w-100 text-justify text-center">{{ message }}</p>
                                            </div>
                                            {% else %}
                                            <div class="alert alert-danger" role="alert">
                                                <p class="w-100 text-justify text-center">{{ message }}</p>
                                            </div>
                                            {% endif %}

                                            {% endfor %}
                                            {% endif %}
                                       <!--comment nav-->
                                        <div class="comment-respond" id="respond">
                                           <h3 class="comment-reply-title" id="reply-title">Leave a Reply <small><a href="single.html#respond" id="cancel-comment-reply-link" rel="nofollow"><i class="fa fa-times"></i></a></small></h3>
                                           <form novalidate="" class="comment-form" id="commentform" method="post" >
                                               {% csrf_token %}
                                              <p class="comment-notes"><span id="email-notes">{% trans 'Your email address will not be published.' %}</span></p>
                                              <div class="row">

                                                 <div class="comment-form-author col-sm-12 col-md-6"> <label for="author">{% trans 'Name (optional)' %}</label>
                                                     {% render_field form.name type="text" class="form-control" placeholder="Your Name" minlength="2" maxlength="50" id="contact-name" %}
{#                                                     <input type="text" size="30" value="" placeholder="Your name *" name="author" id="author" maxlength="50">#}
                                                 </div>
                                                 <div class="comment-form-email col-sm-12 col-md-6"> <label for="email">{% trans 'Email (optional)' %}</label>
                                                     {% render_field form.email type="email" class="form-control" placeholder="Your E-mail" id="contact-email" %}
{#                                                     <input type="email" size="30" value="" placeholder="Email *" name="email" id="email" maxlength="50">#}
                                                 </div>
                                              </div>
                                              <p class="comment-form-comment"><label for="comment">{% trans 'Comment' %}</label>
{#                                                  <textarea aria-required="true" placeholder="Your Comment" rows="8" cols="45" name="comment" id="comment"></textarea>#}
                                                    {% render_field form.comment class="form-control" placeholder="Your Message" maxlength="1000" id="comment" %}</p>
                                              <p class="form-submit">
                                                  <input type="submit" value="Post Comment" class="submit" id="submit" name="submit">
                                                  <input type="hidden" id="comment_post_ID" value="80" name="comment_post_ID">
                                                  <input type="hidden" value="0" id="comment_parent" name="comment_parent" maxlength="1000">
                                              </p>
                                           </form>
                                        </div> <!--comment form-->

                                   </div>
                                </section>
                            </div>
                        </div>
                    </article>
                    <div class="single-more-articles single-disable-inview">
                        <h4><span>{% trans 'You might be interested in' %}</span></h4>
                        <span class="single-more-articles-close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <div class="latest_style_2">
                            {% for article in random_articles_2 %}
                            <div class="latest_style_2_item">
                                <figure class="alith_news_img"><a href="{% url 'single' article.slug %}"><img class="hover_grey" src="{{ article.images.first.image.url }}" alt=""></a></figure>
                                <h3 class="alith_post_title"><a href="{% url 'single' article.slug %}">{{ article|transleter_title:request.LANGUAGE_CODE }}</a></h3>
                            </div>
                                {% endfor %}
{#                            <div class="latest_style_2_item">#}
{#                                <figure class="alith_news_img"><a href="single.html"><img class="hover_grey" src="{% static 'images/thumb-square-2.png' %}" alt=""></a></figure>#}
{#                                <h3 class="alith_post_title"><a href="single.html">Magna aliqua ut enim ad minim veniam</a></h3>#}
{#                            </div>#}
                        </div>
                    </div> <!--end single more articles-->
                </div>
                <!--Start Sidebar-->
                {% include 'sidebar.html' %}
                <!--End Sidebar-->
            </div>
            </div> <!--.primary-->

        </div>
    </div>
    {% include 'footer.html' %}
</div> <!--page-content-wrapper-->
{% endblock main %}